includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - src

    ignoreErrors:
        - '#Method TheRedDot\\MonologExtraBundle\\DependencyInjection\\TheRedDotMonologExtraExtension::load\(\) has no return typehint specified.#'
        - '#Call to function method_exists\(\) with Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder and .getRootNode. will always evaluate to true.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root().#'
